*__pycache__*
.*.swp
*.pyc

# Data files
/data/
/data/*
*.csv
model/train_data/

# Model files
*.obj
*.h5

# Performance files
*outputs.txt

# Package files
.python-version
*.egg-info/*
*.egg
dist/*

# Venv
build/*
